<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="capyCaller"
        android:supportsRtl="true"
        android:theme="@style/Theme.Capycaller">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".TransparentActivity"
            android:exported="true"
            android:theme="@style/Theme.Capycaller.Transparent">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="myapp" android:host="apicall" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".SingleApiWidgetProvider"
            android:exported="false"
            android:label="Single API">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/single_api_widget_info" />
        </receiver>

        <activity android:name=".SingleApiWidgetConfigureActivity" android:exported="true" android:theme="@style/Theme.Capycaller">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>
        </activity>
        
        <receiver
            android:name=".ApiWidgetProvider"
            android:exported="false"
            android:label="Multi API">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/api_widget_info" />
        </receiver>
        
        <activity android:name=".MultiApiWidgetConfigureActivity" android:exported="true" android:theme="@style/Theme.Capycaller">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>
        </activity>

    </application>

</manifest>
